/* line 3, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
body {
  font-family: "Josefin Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* line 10, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.panel {
  border-radius: 0px;
}

/* line 14, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.container {
  width: 80%;
}

/* line 18, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.navbar-default {
  background-color: #FFFFFF;
}
/* line 20, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.navbar-default .navbar-brand {
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 500;
}

/* line 26, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.save-btn {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: #337AB7;
  color: #FFF;
  padding: 10px 25px;
  margin-right: 20px;
}

/* line 35, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn {
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  background-color: #FF5A5F;
  color: #FFF;
  padding: 10px 25px;
  margin-right: 20px;
}
/* line 43, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: #FF7E82;
  border-bottom-color: #FA0008;
  background-color: #FF7E82;
  outline: none;
}
/* line 49, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn:active {
  border-color: #E00007;
  background-color: #E00007;
  outline: none;
}

/*.btn-default.btn{
	width: 100%;
	border-radius: 2px;
	padding: 10px 0;
	margin-top: 10px;
}*/
/* line 62, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-default.btn {
  width: 100%;
  border-radius: 5px;
  padding: 6px 0;
  /* margin-top: 10px;*/
}

/* line 69, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn.facebook-btn {
  border: 1px solid #3E5B99;
  background-color: #3E5B99;
  color: #FFF;
}
/* line 74, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn.facebook-btn:hover, .btn-primary.btn.facebook-btn:focus {
  border-color: #486AB2;
  border-bottom-color: #243559;
  background-color: #486AB2;
}
/* line 79, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn.facebook-btn:active {
  border-color: #304879;
  background-color: #304879;
}

/* line 85, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn.google-btn {
  border: 1px solid #DD4B39;
  background-color: #DD4B39;
  color: #FFF;
}
/* line 90, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn.google-btn:hover, .btn-primary.btn.google-btn:focus {
  border-color: #E05D4D;
  border-bottom-color: #852D22;
  background-color: #E05D4D;
}
/* line 95, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-primary.btn.google-btn:active {
  border-color: #852D22;
  background-color: #852D22;
}

/* line 101, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.google-btn, .facebook-btn {
  width: 230px;
}
/* line 103, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.google-btn img, .facebook-btn img {
  position: relative;
  top: -2px;
  right: 5px;
}

/* line 110, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.google-row {
  margin-top: 15px;
}

/* line 113, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.panel-default .panel-heading {
  color: #565A5C;
  background-color: #EDEFED;
  font-size: 18px;
  font-weight: 400;
}

/* line 120, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

/* line 125, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* line 130, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* line 135, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

/* line 142, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.avatar-small {
  width: 28px;
}

/* line 146, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.avatar-medium {
  width: 48px;
}

/* line 150, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.avatar-large {
  width: 68px;
}

/* line 154, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.avatar-full {
  width: 100%;
}

/* line 158, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.form-group {
  margin-bottom: 25px;
}

/* line 162, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.form-control {
  border-radius: 2px;
  height: 4rem;
}

/* line 167, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.sidebar-list {
  padding-left: 0px;
  list-style: none;
}

/* line 172, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.sidebar-item {
  padding: 10px 0;
  font-sie: 16px;
  color: #82888A;
  border-bottom: 1px solid #CCC;
}

/* line 179, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.sidebar-link {
  color: #82888A;
  text-decoration: none;
}
/* line 183, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

/* line 189, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

/* line 195, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
label {
  color: #565A5C;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}

/* line 202, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
select {
  color: #565A5C;
  background-color: #FFF;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 214, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #82888A;
  top: 42px;
  right: 30px;
  transform: scale(0.84, 0.5);
}

/* line 224, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
input[type=checkbox] {
  height: 1.25em;
  width: 1.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #C4C4C4;
  border-radius: 2px;
}

/* line 233, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
input[type=checkbox]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #FF5a5F;
}

/* line 242, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 247, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 263, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.panel-heading.preview {
  padding: 0px;
}
/* line 265, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.panel-heading.preview img {
  width: 100%;
}

/* line 270, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.amenities li {
  margin-bottom: 10px;
  list-style-type: none;
}

/* line 275, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.text-line-through {
  text-decoration: line-through;
}

/* line 279, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.reservation-table td {
  width: 100%;
  border: 1px solid #DCE0E0;
  padding: 10px;
}

/* line 285, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.wide {
  width: 100%;
}

/* line 288, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.price_tag {
  background-color: #606567;
  cplor: #fff;
  font_size: 20px;
  padding: 10px;
  margin_bottom: 10px;
}

/* line 295, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.conversation {
  color: #7f7f7f;
  padding: 10px;
}

/* line 299, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.conversation, .conversation:focus {
  background-color: #F4f4F5;
}

/* line 302, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 306, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
#sidebar {
  float: left;
  width: 600px;
}

/* line 310, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
#sidebar #widget {
  width: 600px;
  height: 600px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

/* line 316, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
#article {
  width: 560px;
}

/* line 319, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

/* line 325, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* line 334, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow:after {
  content: '';
}

/* line 337, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

/* line 356, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
  text-align: right;
  opacity: 0;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}

/* line 370, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 160px;
  padding: 0 30px;
  line-height: 120px;
  color: rgba(169, 3, 41, 0.8);
}

/* line 378, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(2) span {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 385, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(3) span {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 392, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(4) span {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 399, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(5) span {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

/* line 406, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(6) span {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

/* line 413, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 420, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 427, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 434, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

/* line 441, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -moz-transform: scale(1.1) rotate(3deg);
  }
  25% {
    opacity: 0;
    -moz-transform: scale(1.1) rotate(3deg);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -o-transform: scale(1.1) rotate(3deg);
  }
  25% {
    opacity: 0;
    -o-transform: scale(1.1) rotate(3deg);
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -ms-transform: scale(1.1) rotate(3deg);
  }
  25% {
    opacity: 0;
    -ms-transform: scale(1.1) rotate(3deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1) rotate(3deg);
  }
  25% {
    opacity: 0;
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
  8% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  19% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
    -moz-transform: translateX(200px);
  }
  8% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  17% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  19% {
    opacity: 0;
    -moz-transform: translateX(-400px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
    -o-transform: translateX(200px);
  }
  8% {
    opacity: 1;
    -o-transform: translateX(0px);
  }
  17% {
    opacity: 1;
    -o-transform: translateX(0px);
  }
  19% {
    opacity: 0;
    -o-transform: translateX(-400px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
    -ms-transform: translateX(200px);
  }
  8% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  19% {
    opacity: 0;
    -ms-transform: translateX(-400px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  8% {
    opacity: 1;
    transform: translateX(0px);
  }
  17% {
    opacity: 1;
    transform: translateX(0px);
  }
  19% {
    opacity: 0;
    transform: translateX(-400px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Show at least something when animations not supported */
/* line 649, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  /* line 653, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
  .cb-slideshow li div h3 {
    font-size: 100px;
  }
}
@media screen and (max-width: 600px) {
  /* line 656, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
  .cb-slideshow li div h3 {
    font-size: 50px;
  }
}
/* line 659, /home/adi/santex_new/santexrails/app/assets/stylesheets/application.scss */
.top-buffer {
  margin-top: 20px;
}
