<div class="footer">
	<div class="container">
		<div class="row">
            <div class="col-lg-3 col-sm-3">
                <div>
                	<h4><i class="fa fa-globe" aria-hidden="true"></i> Location</h4>
					<div class="well">
						<div style="text-decoration:none; overflow:hidden; height:150px; width:350px; max-width:100%;"><div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=San+Antonio,+TX+78227,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-html" rel="nofollow" href="http://www.interserver-coupons.com" id="inject-map-data">http://www.interserver-coupons.com</a><style>#my-map-canvas .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=125b95cc-5fe8-9523-a5dd-0ed0bd46e881&c=google-html&u=1478777050" defer="defer" async="async"></script>
					</div>
  				</div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <h4>Newsletter</h4>
                <p>Get notified about the latest properties in our Website.</p>
                <form class="form-inline" role="form">
                    <input type="text" placeholder="Enter Your email address" class="form-control">
                    <button class="btn btn-success" type="button">Notify Me!</button></form>
            </div>
            <div class="col-lg-3 col-sm-3">
                <h4>Follow us</h4>
                <a href="#"><img src="/assets/facebook.png" alt="facebook"></a>
                <!--a href="#"><img src="/assets/twitter.png" alt="twitter"></a>
                <a href="#"><img src="/assets/linkedin.png" alt="linkedin"></a>
                <a href="#"><img src="/assets/instagram.png" alt="instagram"></a-->
            </div>
			<div class="col-lg-3 col-sm-3">
                <h4>Contact us</h4>
                <p><b> SanTex Homes</b><br>
				<span class="fa fa-map-marker"></span> 8305 Hwy 90 W <br>San Antonio, TX 78227<br>
				<span class="fa fa-envelope"></span> sales@santexhomes.net<br>
				<span class="fa fa-phone"></span> 855-550-6550</p><br>
            </div>
        </div>
				<p class="copyright">&copy; 2016 All rights reserved. </p>
</div>
</div>
