<style>
    .panel-head-content
  {
    font-size: 15px;
    font-weight: 600px;
    
  }
  .panel-side
  {
    
    font-size: 15px;
    font-weight: 500;
  }
   .about-panel
  {
    background: #fff;
    padding: 30px;
    
   /* border-radius: 15px;*/
    box-shadow: 4px 4px 0 0 rgba(0,0,0,.1);
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .construction-image img
  {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
  }
</style>
<div class="container about-panel spacer">
  <div class="row contact">
    <div class="col-md-12 ">
      <h2 class="panel-hea">Construction</h2>
      <hr>
      <p class="panel-head-content">SanTex homes only works with the best contractors that have many years installing <b class="red-text"><%= link_to "manufactured, mobile and modular homes", homes_path %></b> Our crews specialize in all on site construction from septic systems, water connections, foundations, skirting, decks, electrical hook up, and even garages. Call today to get your FREE site inspection and estimate.</p>
    </div>   
  </div>
  <div class="row top-space">
    <div class="col-md-10 col-md-offset-1">
      <div class="row contact">
          <div class="col-md-6">
            <p><b><i>Electric Connection</i></b></p>
             <p>PowerUp. But, not before every detail is covered and every precaution is taken to be sure the electrical connection to your new home meets all required codes and is safely installed.</p>
          </div>   
          <div class="col-md-6">
            <img class="img-responsive" src="/assets/const1.png" alt="">
          </div>
      </div>
      <div class="row top-space">
         <div class="col-md-12">
          <!--p><b><i>Increased Insulation -</i></b>Improved and effective use of  insulation helps achieve even temperatures throughout the house while using less energy. The result is lower utility costs and a quieter,more comfortable home.</p-->
          <p><b>High-performance Windows:-</b>High-performance Windows help keep heat in during winter and out during summer.They also block damage ultraviolet sunlight that can discolor carpets and furniture.</p>
          <p><b><i>Tight Construction and Tight Ducts-</i></b>Tight ducts and Tight construction help eliminate  drafts,moisture,dust,pests and pollen.This improves comfort and the quality of indoor air,while lowering maintenance costs.</p>
          <p><b><i>Energy-efficient Heating and Cooling Equipment-</i></b> More efficient and properly installed heating and cooling  systems use less energy, which reduces utility bills.These systems  also turn on and off less frequently,removing more humidity and providing better comfort.</p>
         </div>
      </div>
    </div>
  </div>    
  <div class="row top-space bottom-space">
    <div class="col-md-6 col-md-offset-3">
      <h4>Here are several aspects of On-Site Construction you may choose to have SanTex Homes provide or coordinate:</h4>
    </div>
  </div>    
  <!--div class="container"-->
  <div class="col-md-10 col-md-offset-1">
    <div class="row top-space">
      <div class="col-md-6 ">
        <img class="img-responsive" src="/assets/const2.png" alt="">
      </div>
      <div class="col-md-6 ">
        <p><b><i>Foundation</i></b></p>
        <p>SanTex Homes licensed engineers recommend and design the proper fondation to meet the specification of your home and its homesite. We are here to answer any of your question or cancers throughout the entire process-from design through construction and installation.</p>
      </div>
    </div>
    <div class="row top-space">
      <div class="col-md-6 ">
        <p><b><i>Septic Systems</i></b></p>
        <p>After an initial site visit and inspection our licensed contractors will design a septic system for your homesite.We take care of securing all of the necessary permits, inspections, and soil tests.SanTex Homes will manage the process from excavation through installation and connection at your system</p>
      </div>   
      <div class="col-md-6 ">
        <img class="img-responsive" src="/assets/const3.png" alt="">
      </div>
    </div>
    <div class="row top-space">
      <div class="col-md-6 ">
        <img class="img-responsive" src="/assets/const4.png" alt="">
      </div>
      <div class="col-md-6 ">
        <p><b><i>Deck and skirting</i></b></p>
        <p>what else do you want or need to complete your new home; skirting, porch, deck, fence, carport, or garage? SanTex Homes can work with you to make your entire dream come true.Expert craftsmanship and brand name materials provide you with extra amenities that will last for years and years.</p>
      </div>
    </div>
    <div class="row top-space ">
      <div class="col-md-6 ">
        <p><b><i>Water Hook-Up</i></b><p>
        <p>Your home is installed. Your septic system in place. it's time to connect your home to the city or country water supply Our licensed contractors can take care of this too.No problem. Our goal is to make getting into your new home as simple as possible.We can even assist if a water well is required</p>
       
      </div>
      <div class="col-md-6 ">
        <img class="img-responsive" src="/assets/const5.png" alt="">
      </div>
    </div>
  </div>  
</div>
