<style>
    .panel-head-content
  {
    font-size: 15px;
    font-weight: 600px;
    
  }
  .panel-side
  {
    
    font-size: 15px;
    font-weight: 500;
  }
   .about-panel
  {
    background: #fff;
    padding: 30px;
    
    box-shadow: 4px 4px 0 0 rgba(0,0,0,.1);
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .construction-image img
  {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
  }
</style>
<div class="container about-panel">
  <div class="spacer">
    <div class="row contact">
      <div class="col-md-6 ">
        <h4><b>Increased Insulation:</b></h4>
        <p>Improved and effective use of  insulation helps achieve even temperatures throughout the house while using less energy. The result is lower utility costs and a quieter,more comfortable home.</p>
        <h4><b>High-performance Windows:</b></h4>
        <p>High-performance Windows help keep heat in during winter and out during summer.They also block damage ultraviolet sunlight that can discolor carpets and furniture.</p>
        <h3><b>Tight Construction and Tight Ducts:</b></h3>
        <p>Tight ducts and Tight construction help eliminate  drafts,moisture,dust,pests and pollen.This improves comfort and the quality of indoor air,while lowering maintenance costs.</p>
        <h4><b>Energy-efficient Heating and Cooling Equipment:</b></h4>
        <p> More efficient and properly installed heating and cooling  systems use less energy, which reduces utility bills.These systems  also turn on and off less frequently,removing more humidity and providing better comfort.</p>
      </div>   
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-12 construction-image">
                 
              <img class="img-responsive" src="/assets/construction.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>