
<style>
.panel-head-content
  {
    font-size: 15px;
    font-weight: 600px;
    
  }
  .panel-side
  {
    
    font-size: 15px;
    font-weight: 500;
  }
   .about-panel
  {
    background: #fff;
    padding: 30px;
   
    box-shadow: 4px 4px 0 0 rgba(0,0,0,.1);
  }
  .panel-head
  {
    border: none;
    background: none;
  }
</style>
<!-- finance page-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="spacer about-panel">
        <div class="row">
          <div class="col-md-12">
            <img class="img-responsive" src="/assets/insuranc.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

          </div>
        </div>    
            <h2 class="panel-hea top-space">Financing</h2>
            <p class="panel-head-content">SanTex Homes will not use just any mortgage company. We have built solid relationships with what we call the SanTex Select Financing Groups and will only deal with mortgage companies that have our customer’s best interest, from smart mortgages, short payoff mortgages, land home, low interest rate mortgages, as well as used home mortgages. </p>
            <h3 class="panel-head-content">We offer only the best to our customers.</h3>
            <ul class="panel-side">
              <li>Fast preapprovals</li>
              <li>Fast close times</li>
              <li>Fixed no-hassle rates</li>
              <li>Simple home construction financing</li>
               <li>Insurance for your home</li>
            </ul>
            <!--p class="panel-head-content">Your SanTex home is covered before it arrives at your location.Need more coverage? Let SanTex homes handle all your insurance needs. </p>
                                                                                               
            <p class="panel-head-content">Need to cover more – no problem, tell us your needs and we have you covered. </p-->
          </div>
        </div>
     </div>
  </div>
<!-- fince content end -->