<style>
.panel-head-content
  {
    font-size: 15px;
    font-weight: 600px;
    
  }
  .panel-side
  {
    
    font-size: 15px;
    font-weight: 500;
  }
   .about-panel
  {
    background: #fff;
    padding: 30px;
   
    box-shadow: 4px 4px 0 0 rgba(0,0,0,.1);
   
  }
  .panel-head
  {
    border: none;
    background: none;
  }
</style>
<!-- finance page-->
<div class="container spacer">
<div class="about-panel">
  <div class="row">
    <div class="col-md-12">
      <div class="spacer">
        <h2 class="panel-head">Finding Land</h2>
        <p class="panel-head-content">Whether you’re interested in rural acreage, suburban or community lots for your <b class="red-text"><%= link_to "manufactured home", homes_path %></b>, our sales professionals and local realtors will help you find a great piece of land for your new home. SanTex Homes also has relationships with manufactured housing communities throughout Texas. If you’re looking for a space in a family oriented or senior housing community, we’ll help identify some possibilities that meet your needs and your lifestyle. Explore your land options with 100’s of listings today. Visit</p>
      </div>
    </div>
  </div>
  <div class="row top-space">
    <div class="col-md-12">
      <center><img src="/assets/findingland1.jpg" class="img-responsive"></center>
    </div>
  </div>
  <div class="row top-space">
    <div class="col-md-12">
      <center><img src="/assets/findingland2.jpg" class="img-responsive"></center>
    </div>
  </div>
  <div class="row top-space">
    <div class="col-md-12">
      <center><img src="/assets/findingland3.jpg" class="img-responsive"></center>
    </div>
  </div>
</div>
</div>