
<style>

</style>
<!-- finance page-->
  <div class="container spacer">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-12">
            <img class="img-responsive" src="/assets/insurance.png" alt="">
          </div>
        </div>
        <div class="row top-spacer">
          <div class="col-md-12">
             <p class="panel-head-conten">Your SanTex home is covered before it arrives at your location.Need more coverage? Let SanTex homes handle all your insurance needs. Need to cover more – no problem, tell us your needs and we have you covered. </p>
            <!--p>Since 1983 NALICO General Agency has been providing insurance solutions. Since the beginning NALICO General Agency, Inc. has had a reputation for providing quality products and services. With authority to transact business in more than 20 states, NALICO General Agency, Inc. provides innovative insurance products and services to clients nationwide.<br>Protect your investment with the coverage plan chosen by thousands of homeowners. Protection plans designed especially for your manufactured home.</p-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4><b>Comprehensive Physical Damage Protection</b></h4>
            <p>Provides coverage for direct, sudden and accidental damage to your home.</p>
          </div>
         </div>
        <div class="row">
          <div class="col-md-12 ">
            <h4><b>Personal Effects Protection</b></h4>
            <p>Covers your personal belongings including clothing, television and stereo equipment, furniture, and appliances not purchased with your home.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <h4><b>Adjacent Structures Protection</b></h4>
            <p>Covers your garage, storage buildings, and satellite dish.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <h4><b>Plus...</b></h4>
            <p>Additional Living Expense, Fire Department Service Charges, Debris Removal, Plants, Trees, Shrubs and Lawn Coverage, Radio and Television Antenna Protection.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="red-text">Protect Your Home & Contents Against Loss From:</h3>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <ul class="panel-side">
              <li>Fire and Smoke</li>
              <li>Windstrom and Hall</li>
              <li>Flood</li>
              <li>Falling Objects</li>
              <li>Lightning</li>
              <li>theft</li>
              <li>Vandalism and Malicious Mischief</li>
              <p class="text-right">.......much more</p>
            </ul>
          </div>
        </div>
      </div>
    </div>    
  </div>  
<!-- fince content end -->